.contM{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0;
}

.upperTitle{
    color: var(--sidebar-color);
    margin: 0;
    padding-bottom: 0.27rem;
    border-bottom: 1px solid var(--sidebar-color);
    font-size: 1.3rem;
}

.pE{
    margin: 0;
    margin-top: 0.27rem;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    color: var(--colorFont);
}


.newExperience{
    display: flex;
    flex-direction: column;
    gap: 1rem   ;
    align-items: center;
    width: 100%;
}