#description,
.inputL{
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    background-color: #627D98;
    border: none;
    border-bottom: 2px solid #102A43;
    color: #F0F4F8;
    cursor: text;
}


::placeholder{
    color: #ccd0d4;
}