.contInex{
    display: flex;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.contder,
.contizq{
    width: 100%;
    border-bottom: 1px solid var(--colorBrackets);
}

h4{
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    font-weight: 400;
    color: var(--colorFont);
    font-size: 1rem;
}

@media screen and (max-width: 820px) {
    h4{
        font-size: 0.5rem;
    }
}