.contInex{
    display: flex;
    padding: 0 1rem;
    margin-top: 0.2rem;
}

.contder,
.contizq{
    padding-bottom: 0.2rem;
    width: 100%;
    border-bottom: 1px solid var(--colorBrackets);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

h4{
    font-weight: 400;
    color: var(--colorFont);
    font-size: 1rem;
}

@media screen and (max-width: 820px) {
    h4{
        font-size: 0.5rem;
    }
}