:root{
    --container-back: #F0F4F8;
    --main-color: #9FB3C8;
    --content-color: #ffffff;
    --sidebar-color: #354c7a;
    --sombra-conts: #8b8b8b6e;
    --sizeConts: calc(( var(--heigthConts) * 595 ) / 842 );
    --heigthConts: 1000px;
    --colorFont: #313131; 
    --colorBrackets: #c9c9c9;

    --shadow-color: 210deg 11% 60%;
    --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

}

.App{
    display: flex;
    flex-direction: column;
}

.main{
    background-color: var(--main-color);
    box-shadow: var(--shadow-elevation-medium);
    padding: 1rem;
    width: var(--sizeConts);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.example{
    display: flex;
    flex-direction: column;
    width: 706px;
    height: 1000px;
    box-shadow: var(--shadow-elevation-medium);
    border: 1px solid #000;
}

.content{
    width: 100%;
    background-color: var(--content-color);
    height: 100%;
}

.containers{
    display: flex;
    flex-direction: row;
    background-color: var(--container-back);
    width: 100%;
    min-height: calc(100vh - 62px);
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.personalInfo{
    margin: 0;
    font-weight: 600;
    width: 100%;
    margin-bottom: 0.5rem;
}

#description{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    max-height: 6rem;
    resize: none;
    border: none;
    border: 1px solid #000;
    padding: 0.25rem;
}

.educationalInfo{
    margin: 0;
    font-weight: 400;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #000;
}

.heading{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 100%;
}

.boxP{
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#probox{
    margin-right: 0.5rem;
}

.buttonAdd{
    font-weight: 600;
    text-align: center;
    width: 9.375rem;
    color: #F0F4F8;
    padding: 0.5rem;
    outline: none;
    background-color: #334E68;
    border: none;
    transition: background-color .5s ease-in,
    box-shadow .5s ease-in;
    border-radius: .3125rem;
}

.buttonAdd:hover{
    background-color: #102A43;
    box-shadow: var(--shadow-elevation-medium);
}

@media screen and (max-width: 1450px) {
    .containers{
        flex-direction: column;
        align-items: center;
    }
}

label{
    font-size: .7rem;
}

@media screen and (max-width: 820px) {
    .example{
        width: 20rem;
        height: 28.32875rem;
    }
    .main{
        width: 20rem;
    }
    .personalInfo,
    .educationalInfo{
        font-size: 1rem;
    }
    label{
        font-size: 0.65rem;
    }
    #description,
    .inputL,
    .buttonAdd{
        font-size: 0.65rem;
    }
    .buttonAdd{
        width: 6rem;
    }
    .nameProfG{
        font-size: 1rem;
    }
}

.inputfile{
    display: none;
}

.labelFile{
    padding: 0.3rem;
    color: #F0F4F8;
    background-color: #334E68;
    border-radius: 5px;
    font-size: 0.7rem;
}